<div class="form-padding" style="background: lightgrey;border: 1px solid bisque;">
  <%= form_for ([:contractor, @general_contractor]) do |f| %>
      <% if @general_contractor.errors.any? %>
          <div id="errors">
            <h2><%= pluralize(@general_contractor.errors.count, "error") %> prevented this post from saving:</h2>
            <ul>
              <% @general_contractor.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row">
        <div class="col-md-6" >

          <div class="form-group col-md-12">
            <%= f.label 'Contractor name', class: "required" %>
            <%= f.text_field :name , class: "form-control", required: true %>
          </div>

          <div class="form-group col-md-12">
            <%= f.label 'Contractor location latitude', class: "required" %>
            <%= f.text_field :latitude , class: "form-control", type: 'number', required: true, step: 'any' %>
          </div>

          <div class="form-group col-md-12">
            <%= f.label 'Contractor location longitude' , class: "required" %>
            <%= f.text_field :longitude, class: "form-control", type: 'number', required: true, step: 'any' %>
          </div>
        </div>
        <div class="col-md-6" >
          <div class="form-group col-md-12">
            <%= f.label :minimum_budget_willing, class: "required"  %>
            <%= f.text_field :minimum_budget_willing, class: "form-control", type: 'number', required: true %>
          </div>
          <div class="form-group col-md-12">
            <%= f.label :maximum_budget_willing, class: "required"  %>
            <%= f.text_field :maximum_budget_willing, class: "form-control", type: 'number', required: true %>
          </div>
          <div class="form-group col-md-12">
            <%= f.label 'Choose services offered'%><br>
            <%= f.check_box :design_services_offered %>
            <%= f.label :design_services_offered%>
            <br>
            <%= f.check_box :build_services_offered %>
            <%= f.label :build_services_offered%>

          </div>
          <div class="form-group col-md-12">
            <%= f.submit (@general_contractor.new_record? ? "Create" : "Update Contractor Details"), class: "btn btn-primary", style: "width: 100%;" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<style>
  label.required:after{content:"*"}
</style>