<a href="<%=new_contractor_general_contractor_path %>" class="btn btn-success">Create New Contractor</a>

<hr>
<h4>Log in using your existing contractor id.</h4>
<br>
<span style="font-size: 12px; color: red; ">(Note: the website is in beta phase with authentication disabled)</span>

<div class="row" style="padding:0px 15px;">
  <table class="table table-hover" style="border-spacing: 0px 6px;border-collapse: separate;">
    <thead>
    <tr style="background-color: white;">
      <th> Id </th>
      <th>Contractor Name</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @general_contractors.each do |gc| %>
        <tr>
          <td><%= gc&.id%></td>
          <td><%= gc&.name %></td>
          <td>
            <a href="<%=contractor_general_contractor_path(gc) %>" class="btn btn-primary"> Log in</a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>