<h3> Contractor Details</h3>

<table class="table table-bordered">
  <tr>
    <th>Project Name:</th>
    <td><%= @general_contractor.name %></td>
  </tr>
  <tr>
    <th>Budget Range</th>
    <td>
      <%= @general_contractor.minimum_budget_willing %> $ -
      <%= @general_contractor.maximum_budget_willing %> $
    </td>
  </tr>
  <tr>
    <th>Location (lat,long)</th>
    <td>
      <%= @general_contractor.latitude %>,
      <%= @general_contractor.longitude %>
    </td>
  </tr>
  <tr>
    <th>Design Services Offered </th>
    <td> <%= @general_contractor.design_services_offered %></td>
  </tr>
  <tr>
    <th>Build Services Offered </th>
    <td> <%= @general_contractor.build_services_offered %></td>
  </tr>

</table>
<div class="row" style="padding:0px 15px;">
  <h3> Recommended Projects</h3>
  <table class="table table-hover" style="border-spacing: 0px 6px;border-collapse: separate;">
    <thead>
    <tr style="background-color: white;">
      <th> Id </th>
      <th>Name</th>
      <th>Price Range (in $)</th>
      <th>Location(LAT-LONG)</th>
      <th> Description</th>
      <th>Score</th>
      <th>Distance in Kms</th>
      <th>Project Owner Response</th>
      <th>Contractors Response</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% @project_recommended.each do |pr| %>
        <tr>
          <td><%= pr&.project&.id%></td>
          <td><%= pr&.project&.name %></td>
          <td><%= pr&.project&.minimum_budget %> $ - <%= pr&.project&.maximum_budget %> $</td>
          <td><%= pr&.project&.latitude %> - <%= pr&.project&.longitude %> </td>
          <td><%= pr&.project&.description %></td>
          <td><%= pr&.score %></td>
          <td><%= pr&.distance %></td>
          <td>
            <%= if pr.project_owner_accepted
                  'Yes'
                else
                  pr.project_owner_accepted.nil? ? 'Awaited' : 'No'
                end %>
          </td>
          <td>
            <label>Yes</label><input type="radio" name="contractor_accepted_<%= pr.id %>" id="contractor_accepted_true_<%=pr.id %>" value="true" <%= pr.contractor_accepted == true ? 'checked="checked"' : '' %> >
            <label>No</label><input type="radio" name="contractor_accepted_<%= pr.id %>" id="contractor_accepted_false_<%=pr.id %>" value="false" <%= pr.contractor_accepted == false ? 'checked="checked"' :'' %>  >
          </td>
          <td id="status_<%= pr.id %>">
            <%= render partial: 'projects/recommendation_status', locals: {recommendation: pr}  %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <p>
    <h4>Score calculation</h4>
    <strong>Score value 3:</strong><br>
    Best match. Contractor budget is subset of project budget. The project owner is most likely to accept this contractor.<br>
    Eg: Project budget 100$ - 200$ and contractor budget 120$ - 160$<br><br>

    <strong>Score value 2:</strong><br>
    Project budget is subset of contractor budget.<br>
    Eg: Project budget 100$ - 200$ and contractor budget 80$ - 700$<br><br>

    <strong>Score value 1:</strong><br>
    Some overlap in budgets.<br>
    Eg: Project budget 100$ - 200$ and contractor budget 180$ - 700$<br><br>

    <strong>Score value 0:</strong><br>
    No overlap in budgets. Very rarely but if no matching contractors are their then project owners may choose contractors with score value of 0.<br>
    Eg: Project budget 100$ - 200$ and contractor budget 500$ - 700$<br>
  </p>
</div>

<script>
  $('input[type=radio]').change(function() {
    $.ajax( { type: 'POST', url: "/update_recommendation?value="+this.value+"&id="+ this.name })
  });
</script>