<div class="form-padding" style="background: beige;border: 1px solid bisque;">
  <%= form_for @project do |f| %>
      <% if @project.errors.any? %>
          <div id="errors">
            <h2><%= pluralize(@project.errors.count, "error") %> prevented this post from saving:</h2>
            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="row">
        <div class="col-md-6" >

          <div class="form-group col-md-12">
            <%= f.label 'Project Name', class: "required" %>
            <%= f.text_field :name , class: "form-control", required: true %>
          </div>


          <div class="form-group col-md-12">
            <%= f.label "Minimum Budget (in $)", class: "required"  %>
            <%= f.text_field :minimum_budget, class: "form-control", type: 'number', required: true %>
          </div>
          <div class="form-group col-md-12">
            <%= f.label "Maximum Budget (in $)", class: "required"  %>
            <%= f.text_field :maximum_budget, class: "form-control", type: 'number', required: true %>
          </div>
          <div class="form-group col-md-12">
            <%= f.label 'Project location latitude', class: "required" %>
            <%= f.text_field :latitude , class: "form-control", type: 'number', required: true, step: 'any' %>
          </div>

          <div class="form-group col-md-12">
            <%= f.label 'Project location longitude' , class: "required" %>
            <%= f.text_field :longitude, class: "form-control", type: 'number', required: true, step: 'any' %>
          </div>
        </div>
        <div class="col-md-6" >

          <div class="form-group col-md-12">
            <%= f.label :description %>
            <%= f.text_field :description, class: "form-control" , style: "height: 158px;"%>
          </div>


          <div class="form-group col-md-12">
            <strong>Choose services needed </strong><br><br>
            <%= f.check_box :design_services_needed %>
            <%= f.label :design_services%><br>

            <%= f.check_box :build_services_needed %>
            <%= f.label :build_services%>
          </div>
          <div class="form-group col-md-12">
            <%= f.submit (@project.new_record? ? "Create Project" : "Update Project"), class: "btn btn-primary", style: "width: 100%;" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<style>
  label.required:after{content:"*"}
</style>