<% if (recommendation.contractor_accepted) && (recommendation.project_owner_accepted) %>
    <p style="color: green"> Match Found</p>
<% elsif recommendation.contractor_accepted == false && !recommendation.project_owner_accepted == false%>
    <p style="color: red"> Rejected by Both</p>
<% elsif (recommendation.contractor_accepted == nil) || (recommendation.project_owner_accepted == nil) %>
    <p style="color: blueviolet">Pending</p>
<% elsif recommendation.contractor_accepted == false %>
    <p style="color: red"> Rejected by Contractor </p>
<% elsif recommendation.project_owner_accepted == false %>
    <p style="color: red"> Rejected by Owner </p>

<% end %>