
<div class="row" style="padding:0px 15px;">
  <a href="<%=new_project_path %>" class="btn btn-success">Create New Renovation Project</a>
  <hr>
  <h4>Log in to your existing Renovation project.</h4>
  <br>
  <span style="font-size: 12px; color: red; ">(Note: the website is in beta phase with authentication disabled)</span>

  <table class="table table-hover" style="border-spacing: 0px 6px;border-collapse: separate;">
    <thead>
    <tr style="background-color: white;">
      <th> Id </th>
      <th>Project Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
        <tr>
          <td><%= project&.id%></td>
          <td><%= project&.name %></td>
          <td><%= project&.description %></td>
          <td>
            <a href="<%= project_path(project) %>" class="btn btn-primary"> Log In</a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>