<h3> Project Details</h3>

<table class="table table-bordered">
  <tr>
    <th>Project Name:</th>
    <td><%= @project.name %></td>
  </tr>
  <tr>
    <th>Budget Range</th>
    <td>
      <%= @project.minimum_budget %> $ -
      <%= @project.maximum_budget %> $
    </td>
  </tr>
  <tr>
    <th>Location (lat,long)</th>
    <td>
      <%= @project.latitude %>,
      <%= @project.longitude %>
    </td>
  </tr>
  <tr>
    <th>Design Services Needed </th>
    <td> <%= @project.design_services_needed %></td>
  </tr>
  <tr>
    <th>Build Services Needed </th>
    <td> <%= @project.build_services_needed %></td>
  </tr>

</table>
<div class="row" style="padding:0px 15px;">
  <h3> Recommended Contractors</h3>
  <table class="table table-hover" style="border-spacing: 0px 6px;border-collapse: separate;">
    <thead>
    <tr style="background-color: white;">
      <th> Id </th>
      <th>Contractor Name</th>
      <th>Price Range (in $)</th>
      <th>Location (lat, long)</th>
      <th>Score</th>
      <th>Distance in Kms</th>
      <th>Project Owner Response</th>
      <th>Contractors Response</th>
      <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <% @recommendations.each do |recommendation| %>
        <tr>
          <td><%= recommendation&.general_contractor&.id%></td>
          <td><%= recommendation&.general_contractor&.name %></td>
          <td><%= recommendation&.general_contractor&.minimum_budget_willing %> $ - <%= recommendation&.general_contractor&.maximum_budget_willing %> $</td>
          <td><%= recommendation&.general_contractor&.latitude %>, <%= recommendation&.general_contractor&.longitude %></td>
          <td><%= recommendation&.score %></td>
          <td><%= recommendation&.distance %></td>
          <td>
            <input type="radio" name="project_owner_accepted_<%= recommendation.id %>" id="project_owner_accepted_true_<%= recommendation.id %>" value="true" <%= recommendation.project_owner_accepted == true ? 'checked="checked"' : '' %> > <label for="project_owner_accepted_true_<%= recommendation.id %>">Yes</label> <br>
            <input type="radio" name="project_owner_accepted_<%= recommendation.id %>" id="project_owner_accepted_false_<%= recommendation.id %>" value="false" <%= recommendation.project_owner_accepted == false ? 'checked="checked"' : '' %> > <label for="project_owner_accepted_false_<%= recommendation.id %>">No</label>
          </td>
          <td>
            <%= if recommendation.contractor_accepted
                  'Yes'
                else
                  recommendation.contractor_accepted.nil? ? 'Awaited' : 'No'
                end %>
          </td>
          <td id="status_<%= recommendation.id %>">
            <%= render partial: 'recommendation_status', locals: {recommendation: recommendation}  %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <p>
  <h4>Score calculation</h4>
  <strong>Score value 3:</strong><br>
  Best match. Contractor budget is subset of project budget. The project owner is most likely to accept this contractor.<br>
  Eg: Project budget 100$ - 200$ and contractor budget 120$ - 160$<br><br>

  <strong>Score value 2:</strong><br>
  Project budget is subset of contractor budget.<br>
  Eg: Project budget 100$ - 200$ and contractor budget 80$ - 700$<br><br>

  <strong>Score value 1:</strong><br>
  Some overlap in budgets.<br>
  Eg: Project budget 100$ - 200$ and contractor budget 180$ - 700$<br><br>

  <strong>Score value 0:</strong><br>
  No overlap in budgets. Very rarely but if no matching contractors are their then project owners may choose contractors with score value of 0.<br>
  Eg: Project budget 100$ - 200$ and contractor budget 500$ - 700$<br>
  </p>
</div>

<script>
  $('input[type=radio]').change(function() {
    $.ajax( { type: 'POST', url: "/update_recommendation?value="+this.value+"&id="+ this.name })
  });
</script>