<% if ((@recommendation.contractor_accepted == true) && ( @recommendation.project_owner_accepted == true ) ) %>
    $('#status_<%= @recommendation_id%>').empty();
    $('#status_<%= @recommendation_id%>').html('<p style = "color: green" > Match Found </p>');

<% elsif !@recommendation.contractor_accepted && !@recommendation.project_owner_accepted%>
$('#status_<%= @recommendation_id%>').empty();
$('#status_<%= @recommendation_id%>').html('<p style = "color: red" > Rejected by Both</p>');

<% elsif ((@recommendation.contractor_accepted == nil) || ( @recommendation.project_owner_accepted == nil ) ) %>
$('#status_<%= @recommendation_id%>').empty();
$('#status_<%= @recommendation_id%>').html('<p style = "color:blueviolet" > Pending </p>');

<% elsif ((@recommendation.contractor_accepted == false)) %>
  $('#status_<%= @recommendation_id%>').empty();
  $('#status_<%= @recommendation_id%>').html('<p style = "color: red" > Rejected by Contracter</p>');

<% elsif (( @recommendation.project_owner_accepted == false )) %>
  $('#status_<%= @recommendation_id%>').empty();
  $('#status_<%= @recommendation_id%>').html('<p style = "color: red" > Rejected by Project Owner</p>');

<% end %>