<% if flash.alert.present? %>
    <div class="alert alert-danger alert-dismissible" role="alert" style="font-weight: 500">
      <%= flash.alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>
<% if flash.notice.present? %>
    <div class="alert alert-success alert-dismissible" role="alert" style="font-weight: 500">
      <%= flash.notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>