<!DOCTYPE html>
<html>
<head>
  <title>Sweeten for Home Owners</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="background-color: #e6e6e6">
<header class="navbar navbar-default" role="navigation" style="background-color: #6747b1; color: white">
  <div class="navbar-inner">
    <div class="container">

      <div class="navbar-brand"><%= link_to "Sweeten for Home Owners", root_path, style: "color: #c0dbe0" %></div>
      <nav class="collapse navbar-collapse navbar-ex1-collapse">
        <!--user login-->
        <div class="dropdown" style="float: right;margin-top: 15px;">
          <span>Switch Persona</span>
          <div class="dropdown-content">
            <ul>
              <li><%= link_to 'Access as Contractor', contractor_general_contractors_path %></li>
              <li><%= link_to 'Access as Home Owner', root_path %></li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>
</header>

<!--flash message-->
<div id="main_content" class="container">

  <%= render partial: 'layouts/flash_messages' %>

  <div id="content" class="col-md-9 center-block">
    <%= yield %>
  </div>
</div>
</div>
</body>
</html>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown-content a {
    text-decoration: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
